#app
  #connect
    form(action="#")
      fieldset
        - if (secure === true ) 
          p You have authenticated successfully.
          p This is a chat room in nodejs. Code is adapted from 
            a(href="http://github.com/ry/node_chat/tree/master") here.
          input#nickInput(class="text", type="hidden", name="nick", value="a")
        - if (secure === false )
          p This is a chat room. Both the client-side and server-side are written in javascript. The source code is 
            a(href="http://github.com/ry/node_chat/tree/master") here.
          label(for="nick") Please enter your name: 
          input#nickInput(class="text", type="text", name="nick", value="")
        input#connectButton(class="button", type="submit", name="", value="Join")
  #loading
    p Loading
  #log
    table.message
      tr
        td.date 18:58
        td.nick(valign="top") TTilus
        td.msg-text x6a616e: i think you can, there was some weird #send trick to do that
  #toolbar
    ul#status
      li
        a#usersLink(href="#") 5 users
      li uptime:
         span(id="uptime") ?
      li memory:
         span(id="rss") ? mb RSS
    input(tabindex="1", type="text", id="entry")
