!!!
html(lang="en")
  head
    title node chat
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/javascripts/jquery-1.2.6.min.js")
    script(type="text/javascript", src="/javascripts/client.js")
  body!= body
    
        
        
        