form(action='login', method='post')
  p
    label Email Address:
      input#textfield.textfield.large(name='login', type='text')
  p
    label Password:
      input#textfield2.textfield.large(name='password', type='password')
  p
    input.button2(name='button2', type='submit', value='Login')
