form(action='newuser', method='post')
  p
    label User ID:
    input#login.textfield.large(name='login', type='text')
  p
    label Password:
    input#password.textfield.large(name='password', type='password')
  p
    input.button2(name='button2', type='submit', value='Submit')
